@font-face {
  font-family: "SF Pro Text";
  src:
    local("SFProDisplay-Regular"),
    local("SFProDisplay Regular"),
    url("../assets/fonts/SF-Pro/SFProDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/SF-Pro/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src:
    local("SFProDisplay-Semibold"),
    local("SFProDisplay Semibold"),
    url("../assets/fonts/SF-Pro/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../assets/fonts/SF-Pro/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src:
    local("SFProDisplay-Bold"),
    local("SFProDisplay Bold"),
    url("../assets/fonts/SF-Pro/SFProDisplay-Bold.woff2") format("woff2"),
    url("../assets/fonts/SF-Pro/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
